body {
    font-family: Arial, sans-serif;
    background: #f2f3f7;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 40px;
}

.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input,
button,
input[type="date"] {
    padding: 10px;
    margin: 5px 0;
    width: 95%;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;
}

button {
    background: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e3e4e6;
    margin-top: 8px;
    padding: 9px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.date {
    font-size: 12px;
    margin-top: 3px;
    color: #333;
}

.delete {
    background: crimson;
    color: white;
    border: none;
    padding: 6px;
    cursor: pointer;
    border-radius: 4px;
    max-width: 25%;
}