body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
}

.move-img {
    height: 50px;
}

.move-button {
    background-color: transparent;
    border: 3px solid white;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 10px;
    cursor: pointer;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}

.score {
    font-size: 20px;
    margin-top: 24px;
}

.reset-btn,
.auto-play-btn {
    background-color: white;
    border: none;
    font-size: 16px;
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 8px;
    cursor: pointer;
}